*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background: transparent;
  border: 0;
  border-style: solid;
}
header{
}

body {
  font-family: Open Sans;
  overflow: scroll;
  display: block;
  margin: auto;
  max-width: 70%;
  float: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1000px 5px lightgray;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
input[type="text"] {
  width: 100%;
  display: block;
}
textarea {
  resize: none;
}
input::-ms-clear, input::-ms-reveal, select::-ms-expand {
  display: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}
[placeholder]:empty:before {
  content: attr(placeholder);
}

.nav{
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    width: inherit;
    position: relative;
}

.logo{
    height: 100%;
}

div.actionItems ul{
    display: flex;
    margin: 10px 10px 10px 10px;
    align-items: right;
    float: right;
}

div.actionItems ul a{
    display: flex;
    margin: 10px 10px 10px 10px;
    color: black;
    text-align: right;
}

div.actionItems ul a:hover{
    transition: 0.4s;
    color: rgb(131, 114, 114);
}


div.actionItems ul li{
    float: right;
    display: inline;
}

div.actionItems{
    float: right;
    display: inline;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 10px 10px 10px 10px;
    position: relative;
    flex-basis: 100%;
    height: 100%;
}

.button{
    background-color: lavender;
    border: 1px solid lavenderblush;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.halfwidth{
    width: 50%;
}

#copyright{
    text-align: center;
}

.card{
    display: inline-block;
    width: 33%;
    margin:auto;
}

.card .cardTitle{
  display: inline-block;
  width: 100%;
}

.cardThumbnail img{
  width: 100%;
  height: auto;
}

.card div a{
  max-width: 200px;
}

#ad {
  display: inline-block;
  width: 100%;
  text-align: center;
  min-height: 300px;
  vertical-align: middle;
  padding-top: 30px;
}

#hero {
  background-image: url("../Files/herobg.jpg");
  height: 300px;
  width: 100%;
  margin: 0px 5px 0px 0px;
  overflow: auto;
}

#hero .halfwidth{
  background-color: rgb(255, 255, 240, 0.5);
  margin: 30px 10px 10px 10px;
  top: 200px;
  border-radius: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.listItems {
  padding:  10px 10px 10px 60px;
  list-style-type: circle;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table, td, th {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

footer {
  display: inline-block;
  padding: 60px 10px 10px 10px;
  overflow: auto;
  width: 100%;
}

footer .logo {
  width: 100px;
  height: auto;
}

.footerLogo {
  float: left;
}

.footerQuicklinks {
  float: right;
  top: 0;
}

.footerContent {
  min-width: 900px;
  text-align: center;
}